body {
  font-family: "ヒラギノ角ゴシック", "メイリオ", Helvetica, Segoe UI, sans-serif;
  background-color: #eee;
  color: #111;
  font-weight: 500;
  text-shadow: 2px 2px 2px #eee, -1px -1px 2px #eee;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
  text-shadow: 2px 2px 2px #eee, -1px -1px 2px #eee;
}

a {
  text-decoration: underline;
  color: blue;
  &:hover {
    background-color: #eee5;
    cursor: pointer !important;
  }
  &:active {
    color: red;
  }
  &:visited {
    color: purple;
  }
}

ul {
  margin-inline-start: 2rem;
}
